html, body {
    height: 100%;
    padding-bottom: 70px;
}

.main {
    max-height: 100vh;
    overflow-y: auto;
}

.author, .date {
    color: var(--bs-secondary-color);
    font-style: italic;
}

footer {
    background-color: var(--bs-body-bg);
}